body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral
}

.window {
    height: 470px;
    width: 350px;
    margin: 3rem;
    text-align: center;
    padding: 2px 10px;
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
}

#change-mode {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
}

